<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/contact.css" />
    <title>i Notes</title>
</head>

<body>
    
    {{>navbar}}

        <section class="contact">
            <form action="" class="contact-form">
            <h1>Contact Us</h1>
                <input type="name" id="name" placeholder="Full Name" autocomplete="off" />
                <input type="email" id="email" placeholder="E-mail" autocomplete="off" />
                <textarea name="message" id="message" placeholder="Message" autocomplete="off"></textarea>
                <button class="submit" type="submit">Submit</button>
            </form>
        </section>
        
{{>footer}}

</body>

</html>