<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/style.css" />
  <title>i Notes</title>
</head>

<body>
  
  {{>navbar}}
  
  <section class="main">
    <section class="left">
      <h1>Notes</h1>
      <form action="/notes" class="form" method="POST">
        <input type="text" name="title" id="title" placeholder="Title" autocomplete="off" required/>
        <textarea type="text" name="description" id="description" placeholder="Description" autocomplete="off" required></textarea>
        <button class="submit" id="addNote" type="submit" onclick="handleSubmit()">Add Note</button>
      </form>
    </section>

    <section class="right">
      <img src="./images/right.png" alt="" />
    </section>
  </section>
{{>footer}}
<script type="text/javascript" src="./js/index.js"></script>
</body>
</html>