<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/notes.css" />
    <title>i Notes</title>
</head>

<body>
    {{>navbar}}
        <section>

            <div class="items">
            <div class="btn_head">
            <a href="/"><button id="add_more_note">Add</button></a>
            <button onclick="clearStorage();" id="clearStorage">Clear</button>
            </div>
            <table class="table" border="0">
                <thead class="tHead">
                    <th scope="col">SNo</th>
                    <th scope="col">Item Title</th>
                    <th scope="col">Item Description</th>
                    <th scope="col">Actions</th>
                </thead>
                <tbody id="tableBody" >
                <tr>
                    <th scope="row">1</th>
                    <td>Coffee</td>
                    <td>I love coffee</td>
                    <td><button id="dBtn">Delete</button><button id="eBtn">Edit</button></td>
                </tr>
                </tbody>
            </table>
            </div>
            
        </section>
    {{>footer}}
    <script type="text/javascript"  src="./js/notes.js"></script>
</body>    
</html>