<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/register.css" />
    <title>i Notes</title>
</head>

<body>
    
    {{>navbar}}

        <section class="login">
            {{!-- <form action="/login" class="login-form"> --}}
            <h1>Register Now</h1>
                <input type="name" id="name" placeholder="Full Name" autocomplete="off" required/>
                <input type="email" id="email" placeholder="E-mail" autocomplete="off" required/>
                <input type="password" id="password" placeholder="Password" autocomplete="off"required/>
                <button id="submit" type="submit">Submit</button>
                <p>Already have an account <span><a href="/login">Login Now </a></span></p>
            {{!-- </form> --}}
        </section>
        
{{>footer}}
<script src="./js/register.js"></script>
</body>

</html>