<nav class="navbar">
  <ul>
    <a href="/">
      <li>Home</li>
    </a>
    <a href="/notes">
      <li>Notes</li>
    </a>
    <a href="/game">
      <li>Game</li>
    </a>
    <a href="/contact">
      <li>Contact</li>
    </a>
  </ul>
</nav>