@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Eczar', serif;
}

body{
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1400px 800px;
}

section {
    min-height: 100vh;
    font-family: 'Eczar', serif;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    background: linear-gradient(
        to right bottom, 
        rgba(230, 230, 230, 0.137), 
        rgba(202, 202, 202, 0));  
    z-index: 2;
    backdrop-filter: blur(2rem);
    width: 100%;
    position: relative;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(77, 77, 77),
    0 0 82px rgb(0, 0, 0);
}

.navbar ul li{
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
}
.navbar ul li:hover{
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 17, 255),
    0 0 82px rgb(0, 17, 255);
}

.navbar ul a{
    text-decoration: none;
    color: rgb(5, 9, 65);
    font-weight: 700;
}

.table {
    padding: 8px;
    transition: 2s;
}

.table:hover{
    background: rgba(104, 104, 104, 0.541);
}
th,
td {
    padding: 10px 100px;
    text-align: center;
}

#tableBody button,
.items button {
    height: 2rem;
    width: 5rem;
    outline: none;
    border-radius: 2px;
    margin: 3px;
    background: rgb(92, 92, 92);
    border: 1px solid rgb(104, 104, 104);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 2s;
}

.btn_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.items button:hover {
    background: rgb(49, 49, 49);
}

#tableBody button:hover{
    background: rgb(49, 49, 49);
}

table th {
    background: linear-gradient(to right top, rgba(190, 190, 190, 0.493), rgba(255, 229, 229, 0.123));
}

table td {
    background: linear-gradient(to right top, rgba(190, 190, 190, 0.541), rgba(255, 229, 229, 0.178));
}


.footer{   
    display: flex;
    /* text-align: center; */
    justify-content: center;
    padding: 8px;
    color: rgb(5, 9, 65);
    font-size: 20px;
    font-weight: 700;
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    background: linear-gradient( 
        to right bottom, 
        rgba(230, 230, 230, 0.137), 
        rgba(202, 202, 202, 0)
    );  
    z-index: 2;
    backdrop-filter: blur(1rem);
    position: relative;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(77, 77, 77),
    0 0 82px rgb(0, 0, 0);
}


/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .navbar ul {
        display: block;
        min-width: 120vw;
    }

    .footer {
        position: static;
        bottom: 0%;
        min-width: 100vw;
    }

    .table {
        padding: 4px;
    }

    th,
    td {
        padding: 5px 50px;
        text-align: center;
    }
}

@media screen and (min-width: 480px) and (max-width: 765px) {
    .navbar ul {
        display: block;
        min-width: 100vw;
    }

    .footer {
        position: static;
        bottom: 0%;
        min-width: 100vw;
    }

    .table {
        padding: 4px;
    }

    th,
    td {
        padding: 5px 50px;
        text-align: center;
    }
}

/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 766px) and (max-width: 1024px) {
    .navbar ul {
        display: block;
        min-width: 100vw;
    }

    .footer {
        position: static;
        bottom: 0%;
        min-width: 100vw;
    }

    .table {
        padding: 4px;
    }

    th,
    td {
        padding: 5px 50px;
        text-align: center;
    }
}