@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Eczar', serif;
}

section {
    min-height: 100vh;
    font-family: 'Eczar', serif;
    background: linear-gradient(to top right,
            rgb(246, 229, 233),
            rgb(202, 232, 250));
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    background: linear-gradient(to top right,
            rgb(246, 143, 164),
            rgb(255, 206, 177));
    display: flex;
    /* text-align: center; */
    justify-content: center;
}

.navbar ul li {
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
}

.navbar ul a {
    text-decoration: none;
    color: rgb(5, 9, 65);
    font-weight: 700;
}

.table {
    padding: 8px;
}

th,
td {
    padding: 10px 100px;
    text-align: center;
}

#tableBody button,
.items button {
    height: 2rem;
    width: 5rem;
    outline: none;
    border-radius: 2px;
    margin: 3px;
    background: rgb(92, 92, 92);
    border: 1px solid rgb(104, 104, 104);
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.btn_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

table th {
    background: linear-gradient(to right top, rgb(190, 190, 190), rgb(255, 229, 229));
}

table td {
    background: linear-gradient(to right top, rgb(190, 190, 190), rgb(255, 229, 229));
}

.footer {
    background: linear-gradient(to top right,
            rgb(246, 143, 164),
            rgb(255, 206, 177));
    display: flex;
    /* text-align: center; */
    justify-content: center;
    padding: 8px;
    color: rgb(5, 9, 65);
    font-size: 20px;
    font-weight: 700;
    position: static;
    bottom: 0;
    width: 100%;
}


/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {

    .navbar ul {
        display: block;
        width: 100vh;
    }

    .footer {
        position: static;
        bottom: 0%;
        width: 100vh;
    }

    .table {
        padding: 2px;
    }

    th,
    td {
        padding: 3px 25px;
        text-align: center;
    }
}

@media screen and (min-width: 480px) and (max-width: 765px) {
    .navbar ul {
        display: block;
        min-width: 100vw;
    }

    .footer {
        position: static;
        bottom: 0%;
        min-width: 100vw;
    }

    .table {
        padding: 2px;
    }

    th,
    td {
        padding: 3px 25px;
        text-align: center;
    }
}

/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 766px) and (max-width: 1024px) {

    .navbar ul {
        display: block;
        min-width: 100vw;
    }

    .footer {
        position: static;
        bottom: 0%;
        min-width: 100vw;
    }

    .table {
        padding: 4px;
    }

    th,
    td {
        padding: 5px 50px;
        text-align: center;
    }
}